packages:
    yum:
        gcc: []
        libstdc++-devel: []
        gcc-c++: []
        fuse: []
        fuse-devel: []
        libcurl-devel: []
        libxml2-devel: []
        openssl-devel: []
        mailcap: []
        automake: []

sources:
    /tmp: https://github.com/s3fs-fuse/s3fs-fuse/archive/v1.80.zip

files:
    "/etc/fuse.conf" :
        mode: "000644"
        owner: root
        group: root
        content: |
            # mount_max = 1000
            user_allow_other

    "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_unmount_s3fs.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            if mountpoint -q /s3fs/jupyternotebooks; then
                fusermount -u /s3fs/jupyternotebooks
            fi

    "/opt/elasticbeanstalk/hooks/appdeploy/enact/02_mount_s3fs.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            # below doesn't work anymore
            #. /opt/elasticbeanstalk/support/envvars

            # Make sure it's mounted as the webapp user
            #id=`id -u webapp`
            # try mounting as current user
            env
            s3fs $S3FUSE_BUCKET:$S3FUSE_BUCKET_PATH /s3fs/jupyternotebooks -o nonempty -o uid=$id -o gid=$id -o use_cache=/tmp -o allow_other

commands:
    01_patch_s3fs:
        cwd: /tmp/s3fs-fuse-1.80/src
        command: "sed -i 's/AWSACCESSKEYID/$S3FUSE_IAM_ACCESSKEYID/g;s/AWSSECRETACCESSKEY/$S3FUSE_IAM_SECRETKEY/g' s3fs.cpp"

    02_install_s3fs:
        cwd: /tmp/s3fs-fuse-1.80
        test: "[ ! -x /usr/bin/s3fs ]"
        command: "autoreconf --install && export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig && ./configure --prefix=/usr && make && make install"
