files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01a_set_up_token.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      touch /opt/elasticbeanstalk/hooks/appdeploy/pre/.deployment_token
      echo $DEPLOYMENT_TOKEN > /opt/elasticbeanstalk/hooks/appdeploy/pre/.deployment_token
