files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01a_set_up_token.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      #EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      #echo $EB_SUPPORT_DIR/envvars
      #. $EB_SUPPORT_DIR/envvars
      echo $(/opt/elasticbeanstalk/bin/get-config container)
      echo "------------------"
      ls -la /opt/elasticbeanstalk/hooks/appdeploy/post/
      echo "------------------"
      EB_SUPPORT_FILES=$(/opt/elasticbeanstalk/bin/get-config container -k support_files_dir)
      ls -la $EB_SUPPORT_FILES
      env
      touch /var/app/current/.deployment_token
      echo $DEPLOYMENT_TOKEN > /var/app/current/.deployment_token
