files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01a_set_up_token.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      touch /var/app/current/.deployment_token
      echo $DEPLOYMENT_TOKEN > /var/app/current/.deployment_token
      cat /opt/elasticbeanstalk/support/envvars
      ls -la /var/app/current/
