files: 
  /opt/elasticbeanstalk/hooks/appdeploy/post/01a_preflip.sh: 
    content: |-
        #!/usr/bin/env bash
        set -e
        
        . /opt/elasticbeanstalk/hooks/common.sh
        
        # Remove old config: Nginx
        rm -f /etc/nginx/sites-available/elasticbeanstalk-nginx-jupyter-proxy.conf
        rm -f /etc/nginx/sites-available/elasticbeanstalk-nginx-sifu-proxy.conf
    group: root
    mode: "000755"
    owner: root
