Resources:
  AWSEBSecurityGroup:
    Properties:
      GroupDescription: "Security group to allow HTTP, SSH, and Sifu and Jupyter Notebooks"
      SecurityGroupIngress:
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: 3335, ToPort: 3335}
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: 3334, ToPort: 3334}
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: 80, ToPort: 80}
  AWSEBLoadBalancerSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      SecurityGroupIngress:
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: 3335, ToPort: 3335}
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: 3334, ToPort: 3334}
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: 80, ToPort: 80}
      SecurityGroupEgress:
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: 3335, ToPort: 3335}
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: 3334, ToPort: 3334}
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: 80, ToPort: 80}
  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      Listeners:
        - {Protocol: "TCP", LoadBalancerPort: 3335, InstancePort: 3335}
        - {Protocol: "TCP", LoadBalancerPort: 3334, InstancePort: 3334}
        - {Protocol: "TCP", LoadBalancerPort: 80, InstancePort: 80}
